# learning Python - First

In [4]:
print("Hello I am a new Learner")

Hello I am a new Learner

# Variables

In [1]:
a =10
b =12
c=a+b
print(c)

22

In [6]:
name="H H Joti\n"
Address="vill: x, post:y, dist:z"
print(name,Address)

H H Joti
 vill: x, post:y, dist:z

# Datatypes

In [7]:
#take input from keyboard
firstNum = 10
secondNum = input("Enter a number:")
print("sum:", firstNum + secondNum)

Enter a number: 5

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
#take input from keyboard
firstNum = 10
secondNum = input("Enter a number:")
print("sum:", firstNum + int(secondNum))

Enter a number: 6

sum: 16

# operators
### arithmetic : +,-,/,*
### comparator: <, >, <=, >=
### logical: and, or, not

In [11]:
#arithmetic operator
#take input from keyboard
firstNum = 10
secondNum = input("Enter a number:")
print("sum:", firstNum * int(secondNum))

Enter a number: 5

sum: 50

In [13]:
#conditional statement
age = input ("Enter your age: ")
if int(age)>=30:
    print("Senior")
else:
    print("Junior")

Enter your age:  89

Senior

# Loop

### For loop

In [14]:
#loop
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [18]:
for i in range(1,6,2):
    print(i)

1
3
5

In [19]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [20]:
# 1+2+3+4+5+.....+100=?
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

In [21]:
#1+3+5+....+100=?
sum=0
for i in range(1,101,2):
    sum=sum+i
print(sum)

2500

In [24]:
#1+3+5+....+100=?
sum=0
for i in range(1,101):
    if(i%2!=0):
       sum=sum+i
print(sum)

2500

In [25]:
#1+3+5+....+100=?
sum=0
for i in range(1,101):
    if(i%2==0):
        continue
    else:   
       sum=sum+i
print(sum)

2500

### while Loop

In [28]:
i=1
sum=0
while i<101:
    sum=sum+i
    i=i+1
print(sum)

5050

In [29]:
i=1
sum=0
while i<101:
    sum=sum+i
    i=i+2
print(sum)

2500

In [30]:
fruits =["mango","banana","jack"]
for fruits in fruits:
    print(fruits)

mango
banana
jack

# function or method

In [32]:
def addtwoNum(a,b):
    return a+b
def subTwoNum(a,b):
    return a-b

result = subTwoNum(1000,575)
print(result)
result2=addtwoNum(3000,345)
print(result2)

425
3345